/* Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(30, 30, 41) !important;
}

.container-fluid {
  justify-content: center !important;
}

.navbar-brand {
  --bs-navbar-brand-color: rgb(228, 228, 255);
  --bs-navbar-brand-hover-color: rgb(183, 183, 255);
  padding-left: 50px;
}

.search-bar {
  width: 1000px;
}

.search-button {
  color: #000;
  background-color: #ffc556;
  border-color: #e79e41;
}

.search-button:hover {
  color: #ffffff;
  background-color: #ffbb39;
  border-color: #e3932c;
}

.btn-edit {
  display: flex;
  align-items: center;
}

.auth-btn {
  margin-right: 5px;
  background-color: #ffc556;
  color: black;
  border-color: #e79e41;
  font-weight: 550;
  align-items: center;
}

.auth-btn:hover {
  color: #ffffff;
  background-color: #ffbb39;
  border-color: #e3932c;
}

.icon-weight {
  margin-left: 2px;
  font-weight: 550;
}

.auth-bar {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.dropdown-menu {
  z-index: 1500 !important;
}

.dropdown {
  color: white;
  margin-right: 15px;
  list-style-type: none;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.icon-large {
  font-size: 40px;
}

.dropdown-menu-start[data-bs-popper] {
  left: auto;
  right: 0;
}

.horizontal-line {
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #979797;
}
